html
    head
        body
            p Welcome to #{title}
            - var nnums = ["one", "two", "three"]
                -
            ul
                each num in nums
                    li = num
